html
  font-size: 16px

@media screen and (min-width: 770px)
  html
    font-size: calc(16px + 4 * ((100vw - 770px) / 600))

@media screen and (min-width: 1370px)
  html
    font-size: 20px

body, main, html
  margin: 0
  padding: 0
  background: #171515
  color: white

body
  font-family: var(--font-space-mono)
  weight: 400
  line-height: 1.25
  a, a:visited, a:active, a:hover
    color: white
    text-decoration: none
    font-family: var(--font-space-mono)
    transition: border-color .25s ease
  h1, h2, h3, p, span, a, input, button, form, label
    font-family: var(--font-space-mono)
    font-size: 1rem
    font-weight: 400
    line-height: 1.25
    color: white

@keyframes fadeInOut 
  0%
    opacity: 0
  100% 
    opacity: 1

.logo
  padding-top: 5vh
  padding-left: 2.5vw
  padding-right: 2.5vw
  width: 100%
  max-width: 100vw
  opacity: 0
  will-change: opacity
  @media (max-width: 770px)
    padding-top: 4vh
  animation: fadeInOut 1.5s
  animation-delay: .5s
  animation-fill-mode: forwards
  img
    width: 100%
    height: auto

.footer
  width: 100%
  max-width: 100vw
  display: flex
  justify-content: space-between
  flex-direction: row
  flex-wrap: nowrap
  // gap: 15vw
  background: #171515
  position: fixed
  bottom: 0
  left: 0
  padding: 2vh 2.5vw
  padding-bottom: 6vh
  @media (max-width: 770px)
    flex-direction: column-reverse
    gap: 2rem
    padding-bottom: 4vh
  &-ColumnsContainer
    display: flex
    flex-wrap: nowrap
    gap: 2.5vw
    flex: 2
  &-Column
    flex: 1
    a
      padding: .5rem 0
      border-bottom: 2.5px solid transparent
      &:hover
        @media (pointer: fine)
          border-bottom: 2px solid white
    &_Social
      @media (max-width: 770px)
        display: flex !important
        justify-content: flex-start
        gap: 20vw


.subscribe
  position: relative
  display: flex
  border-bottom: 2px solid white
  width: 100%
  max-width: 350px
  padding-bottom: .5rem
  padding-right: 2.5rem
  @media (max-width: 768px)
    width: 100%
    max-width: 100%
  input
    flex: 1
  input::placeholder
    color: white
  button
    color: white
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    width: 2rem
    height: 2rem
    cursor: pointer
    opacity: .33
    transition: opacity .25s ease
    pointer-events: none
    &.active
      opacity: 1
      pointer-events: auto

// General
.mobile
  display: none
  @media (max-width: 770px)
    display: block

.desktop
  display: block
  @media (max-width: 770px)
    display: none

// Resets
input
  background: none
  border: none
  outline: none
